header {
  margin: 5px;
}
.items-5 {
  background-color: yellow;
  border: 2px solid black;
}
#main-heading {
  background-color: greenyellow;
  color: black;
  border: 2px solid black;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  /* font-size: 2.5em; */
}

.main-items {
  display: flex;
  flex-direction: column;
  height: 400px;
  border: 2px solid black;
  width: 400px;
  margin: 2px;
  padding: 2px;
}

.itemPara {
  margin: 2px;
}

.items {
  list-style: none;
  margin: 4px;
  padding: 4px;
  border: 2px solid black;
}

.deleteButton{
    float: right;
}